<div class="about-me">
    <h2 class="title">About Me</h2>    
    <div class="content-wrapper">
        <div class="content">
            <h1>Get to know me!</h1>
            <p>Hi! My name is Sam and I am a 3rd year studying computer science at the Univeristy of Florida! I find a lot of joy in building software from the ground up and finding solutions to new challenges. I have experience with Web Development and hope to continue learning this creative aspect of computer science.</p> 
        </div>
    </div>
</div>


