<div class="about-me">   
    <div class="content-wrapper">
        <h2 class="title">About Me</h2> 
        <div class="content bio">
            <h1>Get to know me!</h1>
            <span class="wave-icon"></span>
            <p>Hi! My name is Sam and I am a 3rd year college student studying computer science at the Univeristy of Florida! I find a lot of joy in building software from the ground up and finding solutions to new challenges. I have experience with Web Development and hope to continue learning this creative aspect of computer science.</p> 
        </div>
        <div class="content tech">
            <h1>Skills</h1>
            <h1 class="sub">Proficient Languages</h1>
            <span class="wave-icon"></span>
            <p>C++, Java, C#, MATLAB, Python, Golang, SQL</p> 
            <br>
            <h1 class="sub">Proficient Technologies</h1>
            <p>Angular, HTML/CSS, Git, Github, Microsoft Azure, Firebase</p> 
        </div>
        <div class="content interests">
            <h1>Interests</h1>
            <p>When studying computer science, I think it is really important to take breaks from the countless hours of staring at a screen! Here are some of my interests beyond the computer:</p> 
            <p>Gym, Miami Heat, One Piece, Video Games, Basketball, Vibe, Hanging with Friends, Touching Grass, Showering</p>
        </div>
    </div>
</div>


