* {
    background-color: var(--tertiary-color);
    font-family: 'Coolvetica';
    //position: absolute;
}

.about-me{
    width: 100;
}

h2{
    padding: 30px;
    text-align: center;
    font-size: 60px;
    color: var(--primary-color);
}

.content-wrapper{
    margin: 5px;
}

.content{
    width: 400px;
    background-color: white;
    border-radius: 5px;
    color: var(--primary-color)
}

.content > h1 {
    text-align: center;
    margin: 0;
    background-color: white;
    border-radius: 5px;
}

.content > p {
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}

.content > .wave-icon {
    background-image: var(--primary-color-mask);
    mask-image: url('/assets/images/hand.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}