<div class="projects">
    <div class="content-wrapper">
        <h2 class="title">Projects</h2>
        <div class="card md">
            <h1 class="name">Mealdealz</h1>
            <div class="description">
                <p>Add description Later Add description Later Add description Later Add description Later Add description Later</p>
            </div>
        </div>
        <div class="card gpt">
            <h1 class="name">Gator Path Tracker</h1>
            <div class="description">
                <p>Add description Later Add description Later Add description Later Add description Later Add description Later</p>
            </div>
        </div>
        <div class="card drig">
            <h1 class="name">D.R.I.G.</h1>
            <div class="description">
                <p>Add description Later Add description Later Add description Later Add description Later Add description Later</p>
            </div>
        </div>
        <div class="card hh">
            <h1 class="name">Hardwood Hustle</h1>
            <div class="description">
                <p>Add description Later Add description Later Add description Later Add description Later Add description Later</p>
            </div>
        </div>
    </div>
</div>
