*{
    //outline: 2px solid red;
}
.intro{
    padding: 20px;
    font-family: 'Coolvetica';
    height: 87vh;
}

.box-container{
    display: flex;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    margin: 1vw;
}

img {
    border-radius: 5px;
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.box-image {
    margin: 1vw;
}

.box-content{
    color: var(--primary-color);
    width: fit-content;
}

.box-content > h1 {
    position: relative;
    top: 30%;
    font-size: 10vh;
    //-webkit-text-stroke: 2px var(--primary-color);
    //color: transparent;
    animation: slidein .7s ease-in-out;
    z-index: -1;
    margin: 0;
}


.box-content > h2 {
    position: relative;
    top: 30%;
    font-size: 5vh;
    margin: 0;
    z-index: -1;
    animation: slidein .7s ease-in-out;
}

@keyframes slidein{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 100;
    }
    
}

// Changes for Tablet
@media only screen and (min-width: 768px) and (max-width: 1180px){
    .box-content > h1 {
        position: relative;
        top: 30%;
        font-size: 8vh;
        //-webkit-text-stroke: 2px var(--primary-color);
        //color: transparent;
        animation: slidein .7s ease-in-out;
        z-index: -1;
        margin: 0;
    }

    .box-content > h2 {
        position: relative;
        top: 30%;
        font-size: 3vh;
        margin: 0;
        z-index: -1;
        animation: slidein .7s ease-in-out;
    }
}

// Changes for Mobile
@media only screen and (max-width: 767px){
    .intro{
        background-color: green;
    }
}


