.intro{
    padding: 20px;
    font-family: 'Coolvetica';
    height: 90vh;
}

img {
    border-radius: 5px;
    max-width: 351px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.box-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
}

.box-image {
    margin-right: 15px;
}

.box-content{
    color: var(--primary-color);
    width: fit-content;
    height: 366px;
}

.box-content > h1 {
    position: relative;
    top: 30%;
    font-size: 80px;
    //-webkit-text-stroke: 2px var(--primary-color);
    //color: transparent;
    animation: slidein .7s ease-in-out;
    z-index: -1;
    margin: 0;
}


.box-content > h2 {
    position: relative;
    top: 30%;
    margin: 0;
    z-index: -1;
    animation: slidein .7s ease-in-out;
}

@keyframes slidein{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 100;
    }
    
}


