<div [ngClass]="{'shrunk': isScrolled}" class="navbar">
    <div class="options">
        <p (click)="scrollToDiv('about')">About Me</p>
        <p (click)="scrollToDiv('projects')">Projects</p>
        <p (click)="scrollToDiv('experiments')">Experiments</p>
        <p (click)="scrollToDiv('resume')">Resume</p>
        <p (click)="scrollToDiv('intro')"  [ngClass]="{'shrunk': isScrolled}" class="name">Sam Forstot</p>
        <div class="images">
            <a href="https://github.com/samforstot" target="_blank"><span class="logo-g" id="github"></span></a>
            <a href="https://www.linkedin.com/in/samforstot/" target="_blank"><span class="logo-l" id="linkedin"></span></a>
            <a href="mailto:forstotsam@gmail.com" id="email"><span class="logo-e" id="email"></span></a> 
        </div>
    </div>
    <div class="mobile-options">
        <h2 [ngClass]="{'shrunk': isScrolled}" (click)="scrollToDiv('intro')" class="name">Sam Forstot</h2>
        <span (click)="toggleOptions()" class="ham-options"></span>
        <p [ngClass]="{'show': isShown}" (click)="scrollToDiv('about')" (click)="toggleOptions()">About Me</p>
        <p [ngClass]="{'show': isShown}" (click)="scrollToDiv('projects')" (click)="toggleOptions()">Projects</p>
        <p [ngClass]="{'show': isShown}" (click)="scrollToDiv('experiments')" (click)="toggleOptions()">Experiments</p>
        <p [ngClass]="{'show': isShown}"><a class="pdf" href="assets/docs/SamForstot-Resume.pdf" target="_blank">Resume</a></p>
        <p [ngClass]="{'show': isShown}">Contact</p>
    </div>
</div>
