<div class="navbar">
    <div class="options">
        <p (click)="scrollToDiv('about')">About Me</p>
        <p>Projects</p>
        <p>Experiments</p>
        <p>Resume</p>
        <div class="images">
            <a href="https://github.com/samforstot" target="_blank"><span class="logo-g" id="github"></span></a>
            <a href="https://www.linkedin.com/in/samforstot/" target="_blank"><span class="logo-l" id="linkedin"></span></a>
            <a href="mailto:forstotsam@gmail.com" id="email"><span class="logo-e" id="email"></span></a> 
        </div>
    </div>
</div>
