* {
    background-color: var(--primary-color);
    //outline: 2px solid red
}

.navbar{
    padding: 3vh;
    margin: 0;
    color: white;
    font-family: 'Coolvetica';
}

.images {
    float: right;
}

p{
    font-size: 20px;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 2px 2px;
}

p:hover{
    color: var(--tertiary-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

a {
    position: relative;
    margin: 0 10px;
}

#github{
    background-image: var(--blank-color-mask);
    mask-image: url('/assets/images/github.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;

    display: inline-block;
    width: 30px;
    height: 30px;

    position: relative; /* Set the position to relative */
    bottom: 5px; /* Adjust the value to move it upwards as desired */

}

#linkedin {
    background-image: var(--blank-color-mask);
    mask-image: url('/assets/images/linkedin.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;

    display: inline-block;
    width: 36px;
    height: 32px;

    position: relative; /* Set the position to relative */
    bottom: 4px; /* Adjust the value to move it upwards as desired */
}

#email {
    background-image: var(--blank-color-mask);
    mask-image: url('/assets/images/email.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;

    display: inline-block;
    width: 32px;
    height: 32px;

    position: relative; /* Set the position to relative */
    //bottom: 1px; /* Adjust the value to move it upwards as desired */
}

#github:hover{
    background-image: var(--tertiary-color-mask);
    mask-image: url('/assets/images/github.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: .2s ease-in-out;
}

#linkedin:hover{
    background-image: var(--tertiary-color-mask);
    mask-image: url('/assets/images/linkedin.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: .2s ease-in-out;
}

#email:hover{
    background-image: var(--tertiary-color-mask);
    mask-image: url('/assets/images/email.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: .2s ease-in-out;
}

.mobile-options > p{
    display: none;
}

// Changes for Mobile
@media only screen and (max-width: 767px){
    .mobile-options > p{
        opacity: 1;
        margin: 0;
        padding: 0;

    }
    .ham-options{
        background-image: var(--blank-color-mask);
        mask-image: url('/assets/images/mobilenav.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: center;
    
        display: inline-block;
        width: 25px;
        height: 25px;
    
        position: relative; /* Set the position to relative */
    }

    .mobile-options > p.show{
        opacity: 1;
        transition: opacity .2s ease-in-out;
        display: block;
    }

    .options{
        display: none;
    }

    .images{
        display: none;
    }


}



